/*
This file is part of the business logic for

  Jugendkongress

Copyright 2014–24 by Diedrich Vorberg <diedrich@tux4web.de>
Copyricht 2014–24 Jugendwerk der SELK <jugendwerk@selk.de>

All Rights Reserved

*/

body.wait, body.wait * {
    cursor: wait !important;
}

div.titelbild
{
    margin-bottom: 2rem;
    
    h1, div.datum
    {
        display: none;
        visibility: hidden;
        
        small
        {
            display: block;
            font-size: 70%;
            font-weight: normal;
        }
    }
        
    picture, img
    {
        max-width: 100%;
    }

    div.datum
    {
        font-weight: bold;
        font-size: 120%;
        margin-top: 0.25em;
    }
}

footer
{
    font-size: 80%;
}

div.ablauf
{
    margin-bottom: 1rem;

    h4
    {
        margin-top: 0.7rem;
        maring-bottom: 0.5rem;
    }    
    
    div.item
    {
        time
        {
            display: block;
            width: 3rem;
            float: left;
        }
        
        div.title
        {
            margin-left: 3.7rem;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

div.workshops
{
    h5.card-header
    {
        &.bg-success, &.bg-primary
        {
            color: white;
        }
    }
    
    div.referenten
    {
        max-width: 300px;
        img
        {
        }
    }
    
    div.collapse
    {
        min-height: 250px;
        max-height: 250px;
        display: block ! important;
        overflow: hidden;

        &.show
        {
            max-height: none;
        }
    }

    div.collapsing
    {
        min-height: 250px;
        max-height: none;
    }

    button
    {
        text-decoration: none;
    }

    div.referenten > div
    {
        margin-bottom: 1rem;

        > p
        {
            font-size: 90%;
        }
    }
}

nav .mobile-buttons
{
    display: none;
    visibility: hidden;
}


nav .hide-on-mobile
{
    display: block;
    visibility: visible;
}

div.card.booking
{
    border-color: var(--bs-success);
    background-color: var(--bs-success-bg-subtle);
    
    > div.card-header
    {
        background-color: var(--bs-success-border-subtle);

        > h5
        {
            color: var(--bs-success-text-emphasis);
        }
    }

    > div.card-body
    {
        div.name a.pencil
        {
            text-decoration: none;
        }
    }
}

// When displayed on large (lg) displays, blank items are hidden.
@media (max-width: 992px)
{
    div.titelbild
    {
        h1, div.datum
        {
            display: block;
            visibility: visible;
        }
    }
    
    div.ablauf div.item.blank
    {
        display: none;
    }

    nav .mobile-buttons
    {
        display: inline;
        visibility: visible;
    }

    nav .hide-on-mobile
    {
        display: none;
        visibility: hidden;
    }
}

a.exit-button svg
{
    height: 1.5em;
    fill: white;
}


.btn img
{
    height: 1.5em;
}

.ride-sharing-offer strong
{
    color: var(--bs-yellow);
}

.ride-sharing-seek strong
{
    color: var(--bs-teal);    
}

.room.overwritten
{
    font-weight: bold;
    color: var(--bs-danger);
}

form.rooms fieldset
{
    background-color: var(--bs-light);
    margin-right: 2rem;
    padding: 0.5rem;

    label
    {
        margin-bottom: 0.2rem;
    }
}

select.role
{
    width: 160px;

    &.attendee
    {
        background-color: var(--bs-secondary-bg-subtle);
    }
    
    &.speaker
    {
        background-color: var(--bs-primary-bg-subtle);
    }

    &.team
    {
        background-color: var(--bs-warning-bg-subtle);
    }    
}

td.role
{
    width: 15px ! important;
    padding: 0;
    
    &.attendee
    {
        background-color: var(--bs-secondary);
    }
    
    &.speaker
    {
        background-color: var(--bs-primary);
    }

    &.team
    {
        background-color: var(--bs-warning);
    }
}
