/*
This file is part of the business logic for

  Jugendkongress

Copyright 2014–24 by Diedrich Vorberg <diedrich@tux4web.de>
Copyricht 2014–24 Jugendwerk der SELK <jugendwerk@selk.de>

All Rights Reserved

*/

div.titelbild
{
    margin-bottom: 2rem;
    
    h1, div.datum
    {
        display: none;
        visibility: hidden;
        
        small
        {
            display: block;
            font-size: 70%;
            font-weight: normal;
        }
    }
        
    picture, img
    {
        max-width: 100%;
    }

    div.datum
    {
        font-weight: bold;
        font-size: 120%;
        margin-top: 0.25em;
    }
}

footer
{
    font-size: 80%;
}

div.ablauf
{
    margin-bottom: 1rem;

    h4
    {
        margin-top: 0.7rem;
        maring-bottom: 0.5rem;
    }    
    
    div.item
    {
        time
        {
            display: block;
            width: 3rem;
            float: left;
        }
        
        div.title
        {
            margin-left: 3.7rem;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

// When displayed on large (lg) displays, blank items are hidden.
@media (max-width: 992px)
{
    div.titelbild
    {
        h1, div.datum
        {
            display: block;
            visibility: visible;
        }
    }
    
    div.ablauf div.item.blank
    {
        display: none;
    }    
}
