*~
__pycache__
*.pyc
site-packages
src
virtualenv
.DS_Store
Code

www/2026_come_together/Hands.psd
sql/Anmeldungen 2024.xlsx
sql/current_dump.sql
www/2025_ich_glaube_also_fuehle_ich/Downloads.j3M-iTN-VmM-XQJ/Emotionen. Lutherische Spiritualität heute.pdf
