img[src="Achim_Behrens.webp"]
{
    max-width: 15rem;
    float: right;
    margin: 0 0 1rem 1rem;
}

h2
{
    clear: both;
}

@media (min-width: 992px)
{      
    div.titelbild
    {
        h1, div.datum
        {
            display: block ! important;
            visibility: visible ! important;
        }

        
        picture, img
        {
            max-height: 45rem;
        }
    }
}    
